
@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');
    
   


body {
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 640px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    border-style: groove;
}

.login-box {
    width: 50%;
    padding: 70px 30px;
    box-sizing: border-box;
    position: relative;
    background-color: #fff;
    border-right: 1px solid #ddd; /* Línea divisoria */
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #24b474;
    background: transparent;
    padding-bottom: 6px;
    outline: none;
    color: black;
    font-size: 15px;
    padding-top: 5px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #60A66B;
    font-size: 18px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.div-checkbox {
    display: flex;
   
    width: 10%;
    top: 5px;

}

.checkbox {
    display: flex;
   
    margin-right: 10px;
}

.label-checkbox {
    left: 60px;
    position: absolute;
    
    width: 80%;
}

.image-box {
    width: 50%;
    background-color: #60A66B;;
    background-size: cover;
}

.imagen-logo{
    padding-top: 50%;
    padding-bottom: 50%;
    width: 80%;
    padding-left: 10%;
    

}


.error-message {
    position: absolute;
    top: 90%; /* Adjust the position */
    left:85%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px 20px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
    z-index: 10; /* Ensure it is above other elements */
}
.error-message.show {
    opacity: 1; /* Show the error message */
}
/* Media Queries */
@media (max-width: 600px) {
    .login-container {
        flex-direction: column;
    }

    .login-box,
    .image-box {
        width: 100%;
        border-right: none; /* Eliminar la línea divisoria en pantallas pequeñas */
        border-bottom: 1px solid #ddd; /* Añadir una línea divisoria horizontal */
    }

    .login-box {
        padding: 50px 20px;
    }

    .login-box .avatar {
        width: 80px;
        height: 80px;
        top: -40px;
    }

    .login-box h1 {
        font-size: 20px;
    }

    .login-box input[type="submit"] {
        height: 35px;
        font-size: 16px;
    }

    .error-message {
        
        top: auto;
        bottom: -50px; /* Position error message below in small screens */
    }
}
