
@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');
    
    
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}    






body{
    min-height: 100vh;
    width: 100%;
}    
.sidebar{
    height: 100%;
    position: fixed;
    width: 240px;
    background: #313645;
    transition: all 0.5s ease;
}



.sidebar.active{
    width: 60px;

}






.sidebar .logo-details{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details i{
    font-size: 20px;
    font-weight: 500;
    color: #FFF;

    min-width: 60px;
    text-align: center;
}

.sidebar .logo-details .logo_name{
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
    margin-left: 8px;
}
.sidebar .nav-links{

    margin-top: 16px;
    
}

.sidebar .nav-links li{
    height: 50px;
    width: 100%;
    list-style: none;

}

.sidebar .nav-links li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a:hover{
    background: #718095;
}

.sidebar .nav-links li a i{
    min-width: 60px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.sidebar .nav-links li a .link_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

/* Home */

.home-section{

    background: #f5f5f5;
    position: relative;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    transition: all 0.5s ease;
}



.sidebar.active ~ .home-section{
    width: calc(100% - 60px);
    left: 60px;
}




.home-section nav{
    position: fixed;
    width: calc(100% - 240px);
    left: 240px;
    height: 80px;
    background: #fff;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;

}

.sidebar.active ~ .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
}
.home-section nav .sidebar-button{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;

}




.home-section nav .sidebar-button i{

    font-size: 35px;
    margin-right: 10px;


}


.home-section nav .search-box{

   
    height: 50px;
    width: 550px;
    margin: 0 20px;
    position: relative;

}

nav .search-box input{

    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 15px;
    font-size: 17px;
    color: #fff;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    outline: none;
}

nav .search-box .bx-search{
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    background: #2697FF;
    border-radius: 6px;
    color: #fff;
    font-size: 22px;
    line-height: 40px;
    text-align: center;

}

.home-section nav .profile-details{
    display: flex;
    align-items: center;
    height: 50px;
    min-width: 190px;
    background: #F5F6FA;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    padding: 0 15px 0 2px;
}


nav .profile-details img{

    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 6px;
}

nav .profile-details .admin-name{
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}



nav .profile-details i{
    color: #333;
    font-size: 25px;
}



.home-section .home-content{

    position: relative;
    padding-top: 100px;
}



.home-content .overview-boxes .box{
    background: #fff;
    padding: 15px 14px;
    display: flex;
    align-items: center;
}



.home-content .overview-boxes .box-topic{
    font-size: 20px;
    font-weight: 500;
}



.home-content .overview-boxes .number{
    font-size: 35px;
    font-weight: 500;
    margin-top: -5px;
    display: inline-block;
}



.home-content .overview-boxes .indicator{
    display: flex;
    align-items: center;
}


.home-content .overview-boxes .indicator i{
    height: 20px;
    width: 20px;
    background: #8fdacb;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 5px;
}


.home-content .overview-boxes .indicator .text{
    font-size: 12px;

}


.overview-boxes .box .cart{
    font-size: 32px;
    font-weight: 500;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    color: #66b0ff;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
}







/* Estilos básicos para el logo */
.responsive-logo {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    max-width: 150px; /* Ancho máximo del logo */
    height: auto; /* Mantiene la relación de aspecto del logo */
    display: block; /* Asegura que el logo se muestre como un bloque */
    margin: 0 auto; /* Centra el logo si está en un contenedor de ancho fijo */
}

/* Media Queries para hacer el logo más pequeño en pantallas más pequeñas */
@media (max-width: 768px) {
    .responsive-logo {
        max-width: 120px; /* Ancho máximo del logo para pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .responsive-logo {
        max-width: 100px; /* Ancho máximo del logo para pantallas muy pequeñas */
    }
}
