{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>


<body>
  <div class="login-container">
    <div class="login-box">
        <h1>Iniciar Sesión</h1>

        
        <form method="post">
            {% csrf_token %}
            <label for="username">Usuario</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Ingrese su usuario">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Ingrese su contraseña">
            <input type="submit" value="Iniciar">
        </form>
        <div class="div-checkbox">
            <div class="checkbox">
                <input type="checkbox" id="keepSessionCheckbox">
                <label for="keepSessionCheckbox" class="label-checkbox">Mantener Sesión Iniciada</label>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="{% static 'img/Logo-Intecil-Web.png' %}" alt="Description of image" class="imagen-logo">
    </div>
    
</div>

<div id="error-message" class="error-message" style="display: none;">
    {% if form.errors %}
        <p>Nombre de usuario o contraseña incorrectos.</p>
    {% endif %}
</div>

<script src="{% static 'js/login.js' %}"></script>

</body>
