



{% extends "dashboard.html" %}


{% block pagename %}  Inicio {% endblock %}



{% block contenido %}



    <div class="left-box">
      <!-- Contenido de la caja grande -->
      <div class="box-content">
        <h2>Caja Grande</h2>
        <p>Este es el contenido de la caja grande a la izquierda.</p>
      </div>
    </div>
    <div class="right-box">
      <!-- Contenido de la caja pequeña -->
      <div class="box-content">
        <h2>Caja Pequeña</h2>
        <p>Este es el contenido de la caja pequeña a la derecha.</p>
      </div>
    </div>

  

{% endblock %}