{% extends "dashboard.html" %}

{% block pagename %} Listado Lotes VISA {% endblock %}

{% load static %}



<style>
.caja-out {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.caja {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 300px; /* Se ajusta para tener un mínimo de 300px y crecer según el espacio disponible */
    box-sizing: border-box;
    /* Altura mínima opcional */
    min-height: 150px;
    text-align: center;
}
</style>
{% block contenido %}



    <div class="caja-out">
        <div class="caja">Caja 1</div>
        <div class="caja">Caja 2</div>
        <div class="caja">Caja 3</div>
        <div class="caja">Caja 4</div>
    </div>


{% endblock %}