<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleDashboard.css' %}">
<body>
    <div class="sidebar">
        <div class="logo-details">
          <!-- <i class='bx bxl-c-plus-plus'></i>-->  
          <img src="{% static 'img/Logo-Intecil-Web.png' %}" alt="logo" class="responsive-logo">
            <span class="logo_name">

               
            </span>
        </div>
        
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>

        


            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>


            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>
            
        </ul>
    </div>


    <!-- Home -->
    <section class="home-section">

        <nav>
            <div class="sidebar-button">
               <i class="bx bx-menu sidebarBtn"></i>
             <span class="dashboard">Dashboard</span> 
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class="bx bx-search"></i>
            </div>

            <div class="profile-details">
                 <img src="{% static 'img/GKmH0WEX0AAbeaL.jpg' %}" alt="latto"> 
                 <span class="admin-name">
                    Marcelo
                </span>
                <i class="bx bx-chevron-down"></i>
            </div>

            



        </nav>

    <!-- Home Content-->
            
    <div class="home-content">


                <div class="overview-boxes">

                    <div class="box">

                        <div class="left-side">
                            <div class="box_topic">
                                Order List
                            </div>
                            <div class="number">40.875</div>
                            <div class="indicator">
                                <i class="bx bx-up-arrow-alt"></i>
                                <span class="text">Up from yesterday</span>
                            </div>
                        </div>
                        <i class="bx bxs-cart-alt cart"></i>
                    </div>
                </div>
            </div>

    </section>




    <script src="{% static 'js/scriptDashboard.js' %}"></script>
</body>
</html>


<!--

<ul class="nav-links">
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="bx bx-list-ul"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>
        </ul>
-->