<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styleDashboard.css' %}">
<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus'></i>
            <span class="logo_name">CodigoLab</span>
        </div>
        
        <ul class="nav-links">
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>

        


            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>


            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>
            
        </ul>
    </div>
</body>
</html>


<!--

<ul class="nav-links">
            <li>
                <a href="#">
                    <i class="bx bx-box"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="bx bx-list-ul"></i>
                    <span class="link_name">Producto</span>
                </a>
            </li>
        </ul>
-->